#query h2,
#query-result h2 {
  margin:0;
}

#query .title-row,
#query-result .title-row {
  margin-bottom: 15px;
  height: 35px;
}

#query .title-row a,
#query .title-row input {
  margin-top: 5px;
}

#es-host {
  width: 400px;
}

#query-editor {
    height: 500px;
}